.mySwiper {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
}

.swiper-scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
