.mySwiper {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
}

.swiper-scrollbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.swiper-slide {
  transition: transform 0.3s ease, opacity 1s ease;
  opacity: 1;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.1);
}
