.image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between images */
    margin: 20px 0;
    margin: auto;
  }
  
  .image-container img {
    width: 100%;
    height: 94px;
    width: 166px;
    object-fit: contain;
  }