.text-gradient {
    background: linear-gradient(90deg, #F76680, #57007B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .half-circle {
    height: 3rem;
    width: 6rem;
    border-radius: 0 0 10rem 10rem ;
    background: linear-gradient(to right, #9c27b0, #e91e63);
  }
  .half-circle2 {
    height: 3rem;
    width: 6rem;
    border-radius: 10rem 10rem 0 0 ;
    background: linear-gradient(to right, #9c27b0, #e91e63);
  }

  .companiesName{
    background-color: #F7F7FA;
    padding: 20px;
  }

  .customer-comment {
    position: relative;
  }


  .first__container{
    background-color: #F1F2FF ;
  }
  

  .hr{
    background: linear-gradient(to right, #F76680, #57007B);
  }

  .hire__btn{
    background: linear-gradient(to right, #FFC656, #F16063);
  }

  .hire__container{
    background: linear-gradient(to right, #F1F1F5, #E4ECF7);
  }

  .scroll{
    scroll-behavior: smooth;
  }